/*/////////  CARRITO /////////*/ 

.cart-maincontainer{
    display: flex;
    flex-direction: row;
    flex-direction: column;
    margin: auto;
    background-color: white;
    width: 1000px;
    max-width: 90vw;
    padding: 20px 0;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
    border-radius: 15px;
    min-height: 50vh;
  }

  .cart-maincontainer h1{
    
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .cart-maincontainer h2{

    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }

  .cart-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    width: 100%;
    max-width: 90vw;
  }

.cart-box-item{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 90%;
    gap: 18px;
    border-radius: 20px;
  }


  .cart-box-item-img{
    width: 100px;

  }

.cart-box-item-image img{
    display: block;
    max-height: 150px;
    border: 1px solid var(--clessidra);
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.1);
}

.cart-box-item-info{
    display: flex;
    flex-direction: column;
    margin: auto;
    flex: 3;
    max-width: 90vw;
    gap: 3px;
    margin-top: 0px;
    
}

.cart-box-item-info h3{
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 22px;
}

.cart-box-item-info h4{
    font-weight: bold;
    text-align: left;
    margin-top: 0px;
    color: var(--clessidra);
    font-size: 15px;

}


.cart-box-item-detail{
    display: flex;
    flex-direction: column;
    margin: auto;
    flex: 1;
    max-width: 90vw;
    gap: 12px;
    margin-top: 5px;
}

.cart-box-item-detail h3{
    font-weight: bold;
    text-align: left;
    margin-top: 0px;
    font-size: 14px;
}

.cart-box-item-remove{
    display: flex;
    flex: 1.5;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    width: 25px;
}

.item-remove{
    border-radius: 10px;    
    padding: 10px;
    margin: auto;
    height: fit-content !important;
}

.cart-box-item-remove a{
    color: white;
    text-decoration: none;
}

.cart-box-item-remove:hover a{
    color: white;
    text-decoration: none;
}


.cart-box-item-total {     
    display: flex;
    justify-content: flex-end;
    max-width: 90vw;
    width: 100%;
    padding-right: 100px;
    gap: 3px;
    margin: 0px 15px 0px 0px;

}

.cart-box-item-total h3{
  font-size: 22px;
  font-weight: 900;
  color: #000000;
  

}

.cart-box-item-price{
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: flex-end;
    max-width: 90vw;
    gap: 3px;
    margin-top: 0px;
}

.cart-box-item-price h3{ 
    font-weight: bold;
    text-align: left;
    margin-top: 0px;
    font-size: 18px;
}

.checkout-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    max-width: 90vw;
    width: 90%;
    gap: 3px;
    margin-top: 0px;
    align-items: center;
}

.checkout-buttons a{
    color: white;
    text-decoration: none;
}

.checkout-buttons:hover a{
  color: white;
  text-decoration: none;
}

.btn-enviar{
    height: 40px;
    border: 1px solid #ee964b;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    transition: all 0s;
    background-color: rgb(79, 141, 239);

}

.btn-editar{
    height: 40px;
    border: 1px solid #ee964b;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    transition: all 0s;
    background-color: #ee964b

}

.btn-comprar{
  height: 40px;
  border: 1px solid #ee964b;
  font-size: 13px;
  color: #fff;
  cursor: pointer;
  transition: all 0s;
  background-color: rgb(79, 141, 239);

}

.btn-borrar{
    height: 40px;
    border: 1px solid #ee964b;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    transition: all 0s;
    background-color: orangered;

}
    
.btn-borrar:hover, .btn-enviar:hover, .btn-editar:hover, .btn-comprar:hover{
    background-color: #000000;
    color: white;      
}
      
.btn-borrar .btn-enviar .btn-editar .btn-comprar a{
    color: white;
    text-decoration: none;
}

/*/////////  CARRITO VIEJO /////////

    
  }
  .contenido{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .contenido .productPix{
    width: 50%;
  }
  .contenido .productPix #fotoProductomin{
    width: 100%;
    max-height: 200px;
  }
  .contenido .descripcion{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .descripcion div{
    width: 100%;
    align-content: flex-start;
    padding: 5px;
  }
  .descripcion .productName{
    font-weight: 600;
    text-decoration: underline ;
    color: black;
  }
  
  input[type="text"] {
    height: 40px;
    padding: 0 10px;
    outline: 0;
    padding-left: 25px;
    border: none;
    font-size: 14px;
    border-bottom: 1px solid #ee964b;
    box-sizing: border-box;
    transition: all 0.5s
  }
  .input_text input:focus {
    border-bottom: 1px solid #d65780 
  }
  
  .input_text input:focus~i {
    color: #d65780 
  }
  .subTitle{
    font-weight: 600;
    font-size: 13px;
    opacity: 0.8;
    text-align: center;
  }
  .carritoVacio{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }
  .carrito{
    width: 100%;
    /* height: 35vh; */

    /*
    border-top: 1px solid #d65780;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  }
  .detalles{
    list-style: none;
    padding-inline-start: 0;
  
   
  }
  #eliminar{
    vertical-align: bottom;
    padding-top: 15px;
    text-align: left;
    text-decoration: underline;
    font-weight: 600;
  }
  .quantity {
    width: 100px;
    height: 40px;
    border: 1px solid #ee964b;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    font-weight: 700;
  }
  
  .resumenDeCompra{
    width: 100%;
    /* position: relative;  comentado por Eze */
  
  
  /*  padding: 15px;
    border-top: 1px solid #d65780;
    
    
  }
  
  .subtotal{
    display: flex;
    justify-content: space-between;
    border-bottom: dotted 1px #6c6161 ;
    
  }
  .subtotal #finalPrice{
    margin-right: 10px;
  }
  .promoCode{
    display: flex;
    justify-content: space-between;
    border-bottom: dotted 1px #6c6161 ;
  }
  
  .promoCode span{
    width: 50%;
  }
  #cuponinput{
    width: 80%;
    
  }
  #cargarcupon{
    width: 25px;
    height: 40px;
    background-color: #fbfbff;
    border: none;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
   
  }
  #cargarcupon .fa-cut{
    color: #d65780 ;
    text-align: center;
    
  
  }
  .shippingMethod{
    display: flex;
    justify-content: space-between;
    border-bottom: dotted 1px #6c6161 ;
  }
  .shippingMethod select{
    width: 90px;
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
  
  }
  .shipping{
    display: flex;
    justify-content: space-between;
    border-bottom: dotted 1px #6c6161 ;
  }
  .shipping p{
    margin-right: 10px;
  }
  .total{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
  }
  .final{
    text-align: center;
    
  }
  .final button{
    background-color: white;
    border: 1px solid #ee964b;
    box-shadow:  0 15px 30px rgba(0, 0, 0, 0.1); 
    padding: 10px;
  }
  .final button a{
    text-decoration: none;
    font-size: 14px;
  }
  .resumenDeCompra div{
    margin: 15px;
  
  }
  
  