<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Carrito</title>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main class="main">
      <section class="shoppingBagManagement">
        <div class="carrito">
          <h3 class="carritoVacio">Muchas gracias por tu compra</h3>
        </div>
        <div>
            <br />
            <div class="final">
              <button type="submit">
                <a href="/products">Seguir comprando</a>
              </button>
            </div>
          </article>
        </div>
      </section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
